#sr{
    margin: 20px;
}

#imgsrot{
    text-align: center;
}

.love{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.fundo {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(mapa.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    color: white;
}

@media (max-width: 768px) {
    .fundo {
        height: 300px;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .fundo {
        height: 200px;
    }
}

.question {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: left;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 300px;
    width: 100%;
}

.search-container input {
    border-radius: 30px;
    padding-right: 40px;
    width: 100%;
}

.search-container button {
    position: absolute;
    right: 10px;
    border: none;
    background: transparent;
    color: white;
}

.bi-search {
    font-size: 1.2rem;
}

#lopa{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5px;

}