.imagens{
    height: 20px;
    margin: 5px;
}
#paga{

display: flex;

}

#lopa{

font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
align-items: center;
justify-content: center;
display: flex;
gap: 5px;

}
